:root {
    --azul: #0f637a;
    --amarelo: #ffd900;
}

body{
    background-color: var(--azul);
}

main{
    min-height: 100vh;
}

#main-header{
    height: 90px;

}

#app-log{
    width: 220px;
}

#add-todo{
    font-size: 0;
    background-color: var(--amarelo);
}

#todos-list .card{
    background-color: var(--amarelo);

}

#todos-list .card + .card{
    margin-top: 10px;
}

.todo-text {
    margin: 0;
}

.delete-todo {
    font-size: 0;
}

#importante {
    color: red;
    margin-right: 30px;
}

#facil {
    color: green;
    margin-right: 30px;
}

#medio {
    color: #ffd900;
    margin-right: 30px;
}

#conteinerCheckBox {
    display: flex;
    justify-content: center;
}

.iconeVermelho{
    color: red;
    background-color: red;
    border-radius: 30px;
}

.iconeAmarelo{
    color: yellow;
    background-color: yellow;
    border-radius: 30px;

}

.iconeVerde{
    color:green;
    background-color: green;
    border-radius: 30px;

}